---
import Page from '../layouts/page.astro';
---

<Page title="About" desc="Ini halaman about dari undangan" desc="">
  <div class="space-y-3 font-poppins">
    <p class="
    first-letter:text-7xl first-letter:font-bold first-letter:text-gray-900
    first-letter:mr-3 first-letter:float-left">Di JejakBahagia, kami percaya bahwa setiap langkah menuju altar adalah cerita cinta yang unik, menandai jejak bahagia yang abadi dan berkesan. Dalam dunia yang terus berubah, dimana setiap momen berharga menjadi lebih signifikan, nama JejakBahagia merefleksikan perjalanan cinta setiap pasangan yang memilih untuk bersama, merayakan kesatuan mereka dalam harmoni dan kebahagiaan.
    </p>
    <p>JejakBahagia lahir dari filosofi bahwa pernikahan bukan sekadar acara, melainkan perjalanan hidup yang penuh warna. Setiap tema undangan yang kami tawarkan bukan hanya sekedar tampilan, melainkan sebuah cerita yang ditulis dengan hati, dirancang dengan penuh cinta, dan disajikan dengan seni tinggi. Kami berkomitmen untuk memastikan bahwa setiap detail dari undangan Anda mencerminkan esensi dari perjalanan cinta yang telah Anda dan pasangan lalui bersama, sekaligus mengantarkan tamu undangan ke dalam suasana hari bahagia Anda.
    </p>
    <p>Di era saat ini, dimana setiap detik berharga dan setiap momen adalah kenangan, JejakBahagia mengerti pentingnya adaptasi dan inovasi. Kami menggabungkan tradisi dengan tren terkini, menggunakan teknologi terbaru untuk memastikan undangan pernikahan Anda tidak hanya indah secara visual, tapi juga ramah lingkungan, mudah diakses, dan dapat disesuaikan sepenuhnya sesuai dengan keinginan Anda.
    </p>
    <p>JejakBahagia bukan hanya tentang membuat undangan, melainkan tentang merayakan cinta, membagi kebahagiaan, dan memulai perjalanan baru dengan langkah yang penuh harapan dan optimisme. Mari kita buat jejak bahagia Anda bersama, mengundang dunia untuk menjadi bagian dari hari istimewa Anda.
    </p>
    <p>Selamat datang di JejakBahagia – di mana setiap undangan adalah jejak cinta yang tak lekang oleh waktu.
    </p>
    <p class="font-bold">~ N S A</p>
  </div>
</Page>
