---
import Page from '../layouts/page.astro';
import '@fontsource/poppins';
---

<Page title="Harga" desc="Ini halaman harga dari undangan jejak bahagia" subs="Apapun Paketnya Tetep Ramah Dikantong">
    <section class="bg-gray-50">
        <div class="container mx-auto">
            <div class="grid grid-cols-1 sm:grid-cols-2 w-full mx-auto gap-8 [&>*]:w-full [&>*]:transform [&>*]:rounded-lg [&>*]:font-poppins">
                <div class="px-8 py-12 border border-gray-400 flex flex-col justify-between">
                  <div class="text-center">
                      <p class="text-2xl font-semibold text-gray-800">Basic</p>
                      <h4 class="mt-2 text-gray-600 line-through">Rp. 75.000</h4>
                      <h4 class="mt-2 text-4xl font-semibold flex justify-center text-gray-800"><sup class="text-base">Rp</sup>49.000</h4>
                      <p class="mt-4 text-gray-500">Masa Aktif 30 Hari</p>
                  </div>
                  <hr class="h-px my-4 bg-gray-500 w-1/2 mx-auto border-0">
                  <div class="space-y-2  [&>*]:flex [&>*]:items-center [&>*]:justify-center [&>*]:text-center">
                      <div>
                          <span class="mx-4 text-gray-700">100 Tamu</span>
                      </div>
                      <div>
                          <span class="mx-4 text-gray-700">4 Foto</span>
                      </div>
                      <div>
                          <span class="mx-4 text-gray-700">Countdown Timer</span>
                      </div>
                      <div>
                          <span class="mx-4 text-gray-700">RSVP</span>
                      </div>
                      <div>
                          <span class="mx-4 text-gray-700">Amplop Digital</span>
                      </div>
                      <div>
                          <span class="mx-4 text-gray-700">Background Music
                          </span>
                      </div>
                      <div>
                          <span class="mx-4 text-gray-700">Revisi 2 kali</span>
                      </div>
                  </div>
    
                  <a href="https://wa.me/6281532094978?text=Hallo kak, saya buat undangan dong!">
                    <button class="w-fit mx-auto flex items-center px-4 py-2 mt-10 text-white capitalize transition-colors duration-300 transform bg-gray-600 rounded-full hover:bg-gray-800">
                      Buat Undangan
                    </button>
                  </a>
                  
                </div>
                <div class="px-8 py-12 bg-gray-300 border border-gray-400 flex flex-col justify-between">
                    <div class="text-center">
                        <p class="text-2xl font-semibold text-gray-800">Silver</p>
                        <h4 class="mt-2 text-gray-600 line-through">Rp. 100.000
                        </h4>
                        <h4 class="mt-2 text-4xl font-semibold flex justify-center text-gray-800"><sup class="text-base">Rp</sup>75.000</h4>
                        <p class="mt-4 text-gray-500">Masa Aktif 3 Bulan</p>
                    </div>
                    <hr class="h-px my-4 bg-gray-500 w-1/2 mx-auto border-0">
                    <div class="space-y-2  [&>*]:flex [&>*]:items-center [&>*]:justify-center [&>*]:text-center">
                      
                      <div>
                        <span class="mx-4 text-gray-700">Semua Fitur Tema Basic</span>
                      </div>
                        <div>
                          
                            <span class="mx-4 text-gray-700">Tamu Tanpa Batas</span>
                        </div>
                        <div>
                            <span class="mx-4 text-gray-700">6 Foto </span>
                        </div>
                        <div>
                            <span class="mx-4 text-gray-700">Google Maps</span>
                        </div>
                        <div>
                            <span class="mx-4 text-gray-700">Quote</span>
                        </div>
                        <div>
                            <span class="mx-4 text-gray-700">Revisi 3 kali</span>
                        </div>
                    </div>
    
                    <a href="https://wa.me/6281532094978?text=Hallo kak, saya buat undangan dong!">
                      <button class="w-fit mx-auto flex items-center px-4 py-2 mt-10 text-white capitalize transition-colors duration-300 transform bg-gray-600 rounded-full hover:bg-gray-800">
                        Buat Undangan
                      </button>
                    </a>
                    
                </div>
                <div class="overflow-hidden bg-pink-600 px-8 py-12 border border-gray-300 relative flex flex-col justify-between">
                  <div class="absolute right-0 top-0 h-16 w-16">
                    <div class="absolute right-[-34px] top-[32px] w-[170px] transform rotate-[44deg] bg-gray-300 text-center text-gray-800  font-bold py-1">Popular</div>
                  </div>
                  
                  <div class="text-center text-white">
                    <p class="text-2xl font-semibold">Diamond</p>
                    <h4 class="mt-2 line-through">Rp. 150.000</h4>
                    <h4 class="mt-2 text-4xl font-semibold flex justify-center"><span class="text-xl font-medium">Rp</span>99.000</h4>
                    <p class="mt-4">Masa Aktif 6 Bulan</p>
                </div>
    
                <hr class="h-px my-4 bg-gray-100 w-1/2 mx-auto border-0">
                <div class="space-y-2  [&>*]:flex [&>*]:items-center [&>*]:justify-center [&>*]:text-center">
                  <div>
                    <span class="mx-4 text-white">Semua Fitur Tema Silver</span>
                  </div>
                  <div>
                      <span class="mx-4 text-white">Tamu Tanpa Batas</span>
                  </div>
                  <div>
                      <span class="mx-4 text-white">7 Foto + Bonus 1 foto</span>
                  </div>
                  <div>
                      <span class="mx-4 text-white">Love Stories</span>
                  </div>
                  <div>
                      <span class="mx-4 text-white">Template IG Stories</span>
                  </div>
                  <div>
                      <span class="mx-4 text-white">Revisi 5 kali</span>
                  </div>
                </div>
                <a href="https://wa.me/6281532094978?text=Hallo kak, saya buat undangan dong!">
                  <button class="w-fit mx-auto flex items-center px-4 py-2 mt-10 text-gray-800 capitalize transition-colors duration-300 transform bg-white rounded-full hover:bg-gray-300">
                    Buat Undangan
                  </button>
                </a>
                </div>
                <div class="px-8 py-12 bg-gray-50 bg-gray-800 flex flex-col justify-between">
                  <div class="text-center text-white">
                      <h4 class="text-2xl font-semibold">Exclusive</h4>
                      <h4 class="mt-2 line-through">Rp. 200.0000</h4>
                      <h4 class="mt-2 text-4xl font-semibold flex justify-center"><span class="text-xl font-medium">Rp</span>149.000</h4>
                      <p class="mt-4">Masa Aktif 1 Tahun</p>
                  </div>
                  <hr class="h-px my-4 bg-gray-100 w-1/2 mx-auto border-0">
                  <div class="space-y-2  [&>*]:flex [&>*]:items-center [&>*]:text-white [&>*]:justify-center [&>*]:text-center">
                      <div>
                        <span class="mx-4 text-white">Semua Fitur Tema Diamond</span>
                      </div>
                      <div>
                          <span class="mx-4 text-white">Request Sesuai Suku & Adat</span>
                      </div>
                      <div>
                          <span class="mx-4 text-white">Video Live Steaming</span>
                      </div>
                      <div>
                          <span class="mx-4 text-white">10 Foto</span>
                      </div>
                      <div>
                          <span class="mx-4 text-white">Video Undangan</span>
                      </div>
                      <div>
                          <span class="mx-4 text-white">Revisi 5 kali</span>
                      </div>
                  </div>
    
                  <a href="https://wa.me/6281532094978?text=Hallo kak, saya buat undangan dong!">
                    <button class="w-fit mx-auto flex items-center px-4 py-2 mt-10 text-gray-800 capitalize transition-colors duration-300 transform bg-white rounded-full hover:bg-gray-300">
                      Buat Undangan
                    </button>
                  </a>
              </div>
            </div>
        </div>
    </section>
</Page>
