---
import Home from '../layouts/home.astro';
import '@fontsource-variable/josefin-sans';
import { Icon } from 'astro-iconify';
import { Image } from 'astro:assets';
const posts = await Astro.glob('../pages/demo/*.astro');

---

<Home title="Home" desc="Masih zaman undangan kertas? pake undangan digital dong langsung kirim ke semua kontak Anda!">
  <section>
    <div class="container pt-16 lg:pt-0 mx-auto">
      <div class="grid grid-cols-1 lg:grid-cols-2 items-center">
        <div class="w-full py-8">
            <div class="px-6">
                <h2 class="text-3xl min-[340px]:text-4xl min-[445px]:text-5xl sm:text-6xl md:text-7xl font-black font-poppins text-gray-800">Buat Undangan Nikah Online <br/>
                  <span class="text-pink-700 italic font-thin">Murah & Cepat</span></h2>

                <p class="mt-4 text-gray-600 font-poppins max-w-lg">Membuat Setiap Jejak Menuju Kebahagiaan dengan Harga yang Ramah di Kantong!</p>

                <div class="flex flex-row max-[400px]:flex-col gap-x-2 gap-y-4 w-fit mt-6 [&>*]:rounded-full [&>*]:py-2 [&>*]:px-4 [&>*]:font-josefin [&>*]:text-md">
                    <a href="https://wa.me/6281532094978?text=Hallo kak, saya buat undangan dong!" class="flex flex-row items-center justify-center gap-1 tracking-wider text-center text-white transition-colors duration-300 bg-pink-600 hover:bg-pink-700">Buat Undangan<Icon name="mdi:whatsapp" class="w-5 h-5 text-white" /></a>
                    <a href="/demos" class="flex flex-row items-center justify-center tracking-wider text-center text-gray-900 transition-colors duration-300 transform bg-none ring-1 ring-gray-900 lg:mx-4 hover:bg-gray-900 hover:text-white hover:ring-0">Lihat Tema<Icon name="mdi:arrow-right-thin" class="w-6 h-6" /></a>
                </div>
            </div>
        </div>
        <div class="mx-auto relative grid place-items-center overflow-hidden">
          <div class="h-screen grid place-items-center overflow-hidden">
            <div class="grid grid-cols-[repeat(5,_100px)] auto-rows-[100px] gap-2 place-items-center mb-[100px] [&>*]:object-cover [&>*]:w-[200px] [&>*]:h-[200px] [&>*]:rounded-[5px] max-[639px]:[&>*:nth-child(4n-1)]:col-[2_/_span_2] min-[640px]:grid-cols-[repeat(6,_100px)] min-[640px]:[&>*:nth-child(5n-1)]:col-[2_/_span_2] [&>*]:col-[auto_/_span_2]">
            <img src="/assets/girl-wedding.jpg" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
            <img src="/assets/ring-cd.jpg" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
            <img src="/assets/man-wedding.jpg" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
            <img src="/assets/foto-moment-3.jpg" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
            <img src="/assets/bg-wedding-1.jpg" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
            <img src="/assets/foto-tambahan-1.jpg" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
            <img src="/assets/foto-moment-2.jpg" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
            <img src="/assets/foto-tambahan-2.jpg" alt="Jejak Bahagia" style="clip-path: path('M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z');">
          </div>
        </div>
        
    </div>
    </div>
  </section>
  <section>
    <div class="container lg:pb-20 px-6 mx-auto">
      <div class="text-center mx-auto space-y-3 max-w-xl">
        <h2 class="font-bold font-josefin text-4xl md:text-5xl text-pink-600">Mengapa Harus Jejak Bahagia?</h2>
        <p class="max-w-prose text-center text-gray-500 font-poppins mx-auto">Jejak Bahagia tidak hanya mengundang orang yang Anda cintai untuk menjadi bagian dari hari spesial Anda, tapi juga memberikan mereka sesuatu yang lebih dari sekedar undangan. </p>
      </div>
      <div class="grid grid-cols-1 min-[450px]:grid-cols-2 gap-4 mt-16 max-w-3xl mx-auto [&>*]:w-full [&>*]:text-center [&>*]:mx-auto [&>*]:px-4 [&>*]:py-8 [&>*]:flex [&>*]:flex-col [&>*]:items-center [&>*]:border [&>*]:border-pink-700 [&>*]:shadow-md [&>*]:rounded-lg [&>*]:bg-pink-700  [&>*]:transition-all [&>*]:duration-500 [&>*]:ease-linear">
        <div class="group">
          <Icon name="mdi:money-off" class="w-10 h-10 text-pink-600 text-white" />
          <h4 class="font-bold font-josefin text-2xl text-2xl text-gray-800 mt-3 text-white">Harga Kompetitif</h4>
          <p class="text-gray-500 text-white">Buat undangan pernikahan tidak pernah semudah dan semurah ini</p>
        </div>
        <div class="group">
          <Icon name="mdi:flash" class="w-10 h-10 text-pink-600 text-white" />
          <h4 class="font-bold font-josefin text-2xl text-2xl text-gray-800 mt-3 text-white">Proses Cepat</h4>
          <p class="text-gray-500 text-white">Proses pembuatan undangan hanya memerlukan waktu yang sebentar serta dapat diubah kapanpun
          </p>
        </div>
        <div class="group">
          <Icon name="mdi:hand-double-tap" class="w-10 h-10 text-pink-600 text-white" />
          <h4 class="font-bold font-josefin text-2xl text-2xl text-gray-800 mt-3 text-white">Fitur Lengkap</h4>
          <p class="text-gray-500 text-white">Fitur yang dapat diandalkan mulai dari proses pembuatan undangan hingga proses membagikan undangan
          </p>
        </div>
        <div class="group">
          <Icon name="mdi:support" class="w-10 h-10 text-pink-600 text-white" />
          <h4 class="font-bold font-josefin text-2xl text-2xl text-gray-800 mt-3 text-white">Support Terbaik</h4>
          <p class="text-gray-500 text-white">Perlu bantuan ? tenang tim support Kami selalu bisa diandalkan
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container px-6 py-20 mx-auto text-center">
      <div class="space-y-2 max-w-xl mx-auto">
        <h1
          class="font-bold font-josefin text-4xl md:text-5xl text-pink-600"
        >
        Pilihan Desain
        </h1>
        <p class="mt-4 text-center text-gray-600 font-poppins mx-auto">
          Dengan adanya preset kamu tinggal pilih design undangan sesuai dengan yang kamu mau!
        </p>
      </div>
      <div
        class="grid grid-cols-1 min-[450px]:grid-cols-2 md:grid-cols-3 gap-4 mt-10 pt-10 max-w-screen-lg mx-auto"
      >
        {
          posts.slice(0, 12).map((post) => (
            <div class="relative">
              <div class="overflow-hidden border border-2 border-pink-700 rounded-lg">
                <a href={post.data.slug}>
                <Image
                  class="w-full aspect-video object-cover hover:scale-125 duration-500 transition-all ease-linear"
                  src={post.data.img.url}
                  alt="Jejak Bahagia"
                  width={600}
                  height={900}
                />
              </a>
              </div>
              <a href={post.data.slug} class="font-josefin rounded-tr-lg text-white bg-pink-600 w-fit px-4 py-2 absolute left-0 bottom-0">{post.data.type}</a>
              
            </div>
            
          ))
        }
      </div>
    </div>
  </section>
  <section class="bg-gray-100">
    <div class="container py-20 px-6 mx-auto">
      <div class="text-center mx-auto space-y-3 max-w-xl">
        <h2 class="font-bold font-josefin text-4xl md:text-5xl text-pink-600">Fitur Terbaik</h2>
        <p class="text-center text-gray-500 mx-auto font-poppins">Berbagai macam fitur terbaik undangan online yang Anda butuhkan ada disini dan kami akan selalu berinovasi menambahkan fitur-fitur lainnya
        </p>
      </div>
      <div class="grid grid-cols-1 min-[450px]:grid-cols-2 lg:grid-cols-3 gap-4 mt-16 [&>*]:w-full [&>*]:mx-auto [&>*]:p-8 [&>*]:bg-white [&>*]:shadow-lg [&>*]:rounded-lg [&>*]:sm:flex [&>*]:gap-x-4 [&>*]:gap-y-8 [&>*]:relative hover:[&>*]:scale-105 hover:[&>*]:shadow-2xl [&>*]:border-pink-600 [&>*]:border">
        <div class="">
          <div>
            <Icon name="mdi:web-check" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-pink-600 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-josefin text-xl text-2xl text-pink-600">Domain Ekslusif</h4>
            <p class="font-poppins text-gray-600 text-sm">Menggunakan mekanisme subdomain dan tersedia paket custom domain</p>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:people-group" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-pink-600 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-josefin text-xl text-2xl text-pink-600">Custom Nama Tamu</h4>
            <p class="font-poppins text-gray-600 text-sm">Satu tamu, satu undangan. Selayaknya undangan pernikahan fisik
            </p>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:gift-outline" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-pink-600 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-josefin text-xl text-2xl text-pink-600">Hadiah</h4>
            <p class="font-poppins text-gray-600 text-sm">Tersedia fitur kirim hadiah secara online ke rekening kamu atau alamat melalui undanganmu
            </p>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:cash-check" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-pink-600 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-josefin text-xl text-2xl text-pink-600">Amplop Digital</h4>
            <p class="font-poppins text-gray-600 text-sm">Pembayaran dapat dilakukan kapan saja, mudah, otomatis dengan metode pembayaran yang lengkap
            </p>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:book-edit-outline" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-pink-600 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-josefin text-xl text-2xl text-pink-600">Reservasi & Buku Tamu</h4>
            <p class="font-poppins text-gray-600 text-sm">Fitur penerima ucapan dari tamu dan konfirmasi kehadiran dengan manajemen data yang baik
            </p>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:timer-sand-complete" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-pink-600 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-josefin text-xl text-2xl text-pink-600">Countdown Timer</h4>
            <p class="font-poppins text-gray-600 text-sm">Tersedia fitur countdown timer yang dapat berfungsi sebagai pengingat waktu acara
            </p>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:music-note" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-pink-600 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-josefin text-xl text-2xl text-pink-600">Background Music</h4>
            <p class="font-poppins text-gray-600 text-sm">Request musik sesuai keinginan kamu agar undanganmu lebih ekslusif dan romantis.
            </p>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:folder-image" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-pink-600 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-josefin text-xl text-2xl text-pink-600">Gallery Foto</h4>
            <p class="font-poppins text-gray-600 text-sm">Share momen indah kamu dengan pasanganmu dengan slideshow yang keren
            </p>
          </div>
        </div>
        <div class="">
          <div>
            <Icon name="mdi:book-love-outline" class="w-10 h-10 mb-2 sm:mb-0 text-white bg-pink-600 p-2 rounded-full" />
          </div>
          <div class="relative">
            <h4 class="font-bold font-josefin text-xl text-2xl text-pink-600">Love Stories</h4>
            <p class="font-poppins text-gray-600 text-sm">Ceritakan Kisah Cinta kamu dengan leluasa.
            </p>
          </div>
        </div>
    </div>
  </section>
  
  <section class="bg-white dark:bg-gray-900">
    <div class="container py-20 px-6 mx-auto">
      <div class="text-center mx-auto space-y-3 max-w-xl">
        <h2 class="font-bold font-josefin text-3xl sm:text-4xl md:text-5xl text-pink-600">Apapun Paketnya <br>Tetep Ramah Dikantong</h2>
        <p class="text-center text-gray-500 font-poppins mx-auto">Silakan tentukan harga paket sesuai kebutuhan Anda. Kami memberikan harga termurah dan fitur terlengkap. Lihat perbandingan masing-masing paket disini.
        </p>
      </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 max-w-prose  w-full mx-auto mt-16 gap-8 [&>*]:w-full [&>*]:transform [&>*]:rounded-lg [&>*]:font-poppins [&>*]:transition-all [&>*]:duration-500 [&>*]:ease-linear hover:[&>*]:scale-105">
            <div class="px-8 py-12 border border-gray-700">
              <div class="text-center">
                  <p class="text-2xl font-semibold text-gray-800">Basic</p>
                  <h4 class="mt-2 text-gray-600 line-through">Rp.100.000</h4>
                  <h4 class="mt-2 text-4xl font-semibold flex justify-center text-gray-800"><sup class="text-base">Rp</sup>49.000</h4>
                  <p class="mt-4 text-gray-500">Masa Aktif 30 Hari</p>
              </div>
              <hr class="h-px my-4 bg-gray-500 w-1/2 mx-auto border-0">
              <div class="mt-8 space-y-2 [&>*]:flex [&>*]:items-center [&>*]:justify-center [&>*]:text-center">
                  <div>
                      <span class="mx-4 text-gray-700">100 Tamu</span>
                  </div>
                  <div>
                      <span class="mx-4 text-gray-700">4 Foto</span>
                  </div>
                  <div>
                      <span class="mx-4 text-gray-700">Countdown Timer</span>
                  </div>
                  <div>
                      <span class="mx-4 text-gray-700">RSVP</span>
                  </div>
                  <div>
                      <span class="mx-4 text-gray-700">Amplop Digital</span>
                  </div>
                  <div>
                      <span class="mx-4 text-gray-700">Background Music
                      </span>
                  </div>
                  <div>
                      <span class="mx-4 text-gray-700">Revisi 2 kali</span>
                  </div>
              </div>

              <a href="https://wa.me/6281532094978?text=Hallo kak, saya buat undangan dong!">
                <button class="w-fit mx-auto flex items-center px-4 py-2 mt-10 text-white capitalize transition-colors duration-300 transform bg-gray-600 rounded-full hover:bg-gray-800">
                  Buat Undangan
                </button>
              </a>
              
            </div>
            <div class="px-8 py-12 bg-gray-300">
                <div class="text-center">
                    <p class="text-2xl font-semibold text-gray-800">Silver</p>
                    <h4 class="mt-2 text-gray-600 line-through">Rp.150.000
                    </h4>
                    <h4 class="mt-2 text-4xl font-semibold flex justify-center text-gray-800"><sup class="text-base">Rp</sup>75.000</h4>
                    <p class="mt-4 text-gray-500">Masa Aktif 30 Hari</p>
                </div>
                <hr class="h-px my-4 bg-gray-500 w-1/2 mx-auto border-0">
                <div class="mt-8 space-y-2 [&>*]:flex [&>*]:items-center [&>*]:justify-center [&>*]:text-center">
                  
                  <div>
                    <span class="mx-4 text-gray-700">Semua Fitur Tema Basic</span>
                  </div>
                    <div>
                      
                        <span class="mx-4 text-gray-700">Tamu Tanpa Batas</span>
                    </div>
                    <div>
                        <span class="mx-4 text-gray-700">6 Foto </span>
                    </div>
                    <div>
                        <span class="mx-4 text-gray-700">Google Maps</span>
                    </div>
                    <div>
                        <span class="mx-4 text-gray-700">Quote</span>
                    </div>
                    <div>
                        <span class="mx-4 text-gray-700">Revisi 3 kali</span>
                    </div>
                </div>

                <a href="https://wa.me/6281532094978?text=Hallo kak, saya buat undangan dong!">
                  <button class="w-fit mx-auto flex items-center px-4 py-2 mt-10 text-white capitalize transition-colors duration-300 transform bg-gray-600 rounded-full hover:bg-gray-800">
                    Buat Undangan
                  </button>
                </a>
                
            </div>
            <div class="overflow-hidden bg-pink-600">
              <div class="absolute right-0 top-0 h-16 w-16">
                <div class="absolute right-[-34px] top-[32px] w-[170px] transform rotate-[44deg] bg-gray-300 text-center text-gray-800  font-bold py-1">Popular</div>
              </div>
                <div class="px-8 py-12">
                    <div class="text-center text-white">
                        <p class="text-2xl font-semibold">Diamond</p>
                        <h4 class="mt-2 line-through">Rp.200.000</h4>
                        <h4 class="mt-2 text-4xl font-semibold flex justify-center"><span class="text-xl font-medium">Rp</span>99.000</h4>
                        <p class="mt-4">Masa Aktif 1 Tahun</p>
                    </div>

                    <hr class="h-px my-4 bg-gray-100 w-1/2 mx-auto border-0">
                    <div class="mt-8 space-y-2 [&>*]:flex [&>*]:items-center [&>*]:justify-center [&>*]:text-center">
                      <div>
                        <span class="mx-4 text-white">Semua Fitur Tema Silver</span>
                      </div>
                      <div>
                          <span class="mx-4 text-white">Tamu Tanpa Batas</span>
                      </div>
                      <div>
                          <span class="mx-4 text-white">7 Foto + Bonus 1 foto</span>
                      </div>
                      <div>
                          <span class="mx-4 text-white">Love Stories</span>
                      </div>
                      <div>
                          <span class="mx-4 text-white">Template IG Stories</span>
                      </div>
                      <div>
                          <span class="mx-4 text-white">Revisi 5 kali</span>
                      </div>
                    </div>
                    <a href="https://wa.me/6281532094978?text=Hallo kak, saya buat undangan dong!">
                      <button class="w-fit mx-auto flex items-center px-4 py-2 mt-10 text-gray-800 capitalize transition-colors duration-300 transform bg-white rounded-full hover:bg-gray-300">
                        Buat Undangan
                      </button>
                    </a>
                    
                </div>
            </div>
            <div class="px-8 py-12 bg-gray-50 bg-gray-800">
              <div class="text-center text-white">
                  <h4 class="text-2xl font-semibold">Exclusive</h4>
                  <h4 class="mt-2 line-through">Rp.250.0000</h4>
                  <h4 class="mt-2 text-4xl font-semibold flex justify-center"><span class="text-xl font-medium">Rp</span>149.000</h4>
                  <p class="mt-4">Masa Aktif 1 Tahun</p>
              </div>
              <hr class="h-px my-4 bg-gray-100 w-1/2 mx-auto border-0">
              <div class="mt-8 space-y-2 [&>*]:flex [&>*]:items-center [&>*]:text-white [&>*]:justify-center [&>*]:text-center">
                  <div>
                    <span class="mx-4 text-white">Semua Fitur Tema Diamond</span>
                  </div>
                  <div>
                      <span class="mx-4 text-white">Request Sesuai Suku & Adat</span>
                  </div>
                  <div>
                      <span class="mx-4 text-white">Video Live Steaming</span>
                  </div>
                  <div>
                      <span class="mx-4 text-white">10 Foto</span>
                  </div>
                  <div>
                      <span class="mx-4 text-white">Video Undangan</span>
                  </div>
                  <div>
                      <span class="mx-4 text-white">Revisi 5 kali</span>
                  </div>
              </div>

              <a href="https://wa.me/6281532094978?text=Hallo kak, saya buat undangan dong!">
                <button class="w-fit mx-auto flex items-center px-4 py-2 mt-10 text-gray-800 capitalize transition-colors duration-300 transform bg-white rounded-full hover:bg-gray-300">
                  Buat Undangan
                </button>
              </a>
          </div>
        </div>
    </div>
</section>
<section>
  <div class="container px-6 py-20 mx-auto h-max">
    <div class="text-center">
      <h1 class="font-bold font-josefin text-4xl md:text-5xl text-pink-600">FAQ</h1>
      <p class="max-w-prose text-center text-gray-500 font-poppins mx-auto">Dibawah ini adalah daftar pertanyaan yang sering ditanyakan
      </p>
    </div>
  <div class="w-full max-w-xl mx-auto mt-5 pt-8 space-y-4 font-poppins">
    <div x-data="{ open: true }" class="bg-gray-100 p-4 rounded-md">
      <button x-on:click="open = ! open" class="text-left text-base text-gray-900"> Apa itu Jejak Bahagia?
      </button>
      <div x-show="open" class="pt-2 text-gray-500 text-sm">
        Jejak Bahagia adalah sebuah layanan web undangan nikah digital yang memungkinkan pasangan untuk membuat undangan pernikahan secara online dengan berbagai fitur menarik.
      </div>
    </div>
    <div x-data="{ open: false }" class="bg-gray-100 p-4 rounded-md">
      <button x-on:click="open = ! open" class="text-left text-base text-gray-900"> Apa keunggulan Jejak Bahagia dibandingkan undangan konvensional?
      </button>
      <div x-show="open" class="pt-2 text-gray-500 text-sm">
        Jejak Bahagia memberikan kemudahan dalam proses pembuatan undangan nikah yang cepat, efisien, dan ramah lingkungan karena tidak menggunakan kertas. Selain itu, fitur-fitur interaktif seperti RSVP online, galeri foto, dan peta lokasi memudahkan tamu undangan untuk berpartisipasi dan merasa lebih terlibat.
      </div>
    </div>
    <div x-data="{ open: false }" class="bg-gray-100 p-4 rounded-md">
      <button x-on:click="open = ! open" class="text-left text-base text-gray-900"> Bagaimana cara membuat undangan nikah di Jejak Bahagia?
      </button>
      <div x-show="open" class="pt-2 text-gray-500 text-sm">
        Anda cukup mendaftar di platform sosial media Jejak Bahagia, lalu pilih template undangan yang diinginkan lalu kirimkan informasi acara pernikahan Anda. Setelah itu, undangan akan siap untuk dibagikan kepada tamu undangan melalui tautan unik.
      </div>
    </div>
    <div x-data="{ open: false }" class="bg-gray-100 p-4 rounded-md">
      <button x-on:click="open = ! open" class="text-left text-base text-gray-900"> Apakah Jejak Bahagia menyediakan fitur RSVP online?
      </button>
      <div x-show="open" class="pt-2 text-gray-500 text-sm">
        Ya, Jejak Bahagia dilengkapi dengan fitur RSVP online yang memudahkan tamu undangan untuk mengkonfirmasi kehadiran mereka dengan cepat dan mudah melalui platform tersebut.
      </div>
    </div>
  </div>
  </div>
</section>
<section class="fixed bottom-5 right-5 z-20">
  <div class="container flex items-end justify-end mx-auto">
    <a href="https://wa.me/6281532094978?text=Hallo Admin Jejak Bahagia, saya mau konsultasi undangan digital dong!" target="_blank">
      <Icon name="mdi:whatsapp" class="w-14 h-14 mb-5 text-white bg-green-500 rounded-full p-2" />
    </a>
  </div>
</section>
</Home>
