---
import Noheader from '../layouts/noheader.astro';

export const data = {
  slug: "pages/form-send",
  title: "Send",

  male: "Romeo",
  female: "juliet",
}
const { frontmatter } = Astro.props;
const title = frontmatter ? frontmatter.title : data.title;
const male = frontmatter ? frontmatter.male : data.male;
const female = frontmatter ? frontmatter.female : data.female;

---
<Noheader title={title}>
<section>
  <div class="container px-6 py-20 mx-auto">
    <form id="formsend" class="w-full max-w-xl p-12 mx-auto mb-10 bg-white rounded-md shadow-md border">
      <div class="[&>*]:font-poppins [&>*]:text-left [&>*]:text-gray-800/50">
          <div class="[&>input]:my-2 [&>input]:block [&>input]:w-full [&>input]:px-4 [&>input]:py-3 [&>input]:text-gray-700 [&>input]:capitalize [&>input]:bg-white [&>input]:border [&>input]:border-gray-200 [&>input]:rounded-lg [&>input]:focus:outline-none">
              <label for="male" class="">Penganti Pria</label>
              <input value={male} id="male" type="text" name="name">
              <label for="female">Penganti Wanita</label>
              <input value={female} id="female" type="text" name="name">
              <label for="Penerima">Nama Penerima</label>
              <input value="" id="Penerima" type="text" name="name">
              <label for="username">Nomor Whatsapp</label>
              <input type="tel" id="phone" name="phone" placeholder="123-45-678">
          </div>
          <div>
            <label for="message">Pesan</label>
            <textarea id="message" rows="4" name="content" class="block mt-2 p-5 w-full text-sm text-gray-800 bg-gray-50 rounded-lg border border-gray-300 focus:outline-none"></textarea>
          </div>
          <div>
        </div>
      </div>
    
      <div class="flex justify-end mt-6">
        <button id="send" type="submit" class="px-6 py-2 z-50 relative bg-gray-800 rounded-lg text-white font-bold font-poppins flex gap-1 transition-all duration-700 ease-linear hover:bg-white hover:text-gray-800 hover:ring-2 hover:ring-gray-500">Kirim Pesan</button>
    
      </div>
    </form>
  </div>
</section>

</Noheader>

