---
---

<div class="flex items-center justify-between">
    <a href="/" class="flex font-semi-bold text-2xl flex items-center justify-center gap-2">
      <img src="/assets/JejakBahagia.png" alt="JejakBahagia" class="w-44 h-full">
    </a>
  </div>