---
const { text, textsc } = Astro.props
---

<div class="flex items-center justify-between">
    <a href="/" class="flex font-semi-bold text-2xl flex items-center justify-center gap-2">
      <img src="/assets/JejakBahagia.png" alt="JejakBahagia" class="w-10 h-10">
      <h1 class={`font-bold font-josefin text-${text}`}>Jejak<span class={`text-5xl font-haviland font-medium text-${textsc}`}>bahagia</span></h1>
    </a>
  </div>