---
import { Icon } from 'astro-iconify';
---

<div class="audio fixed bottom-5 right-5 z-20">
    <div x-data="{ playing: false }" id="playPauseBtn" class="relative flex items-end justify-end bg-white rounded-full p-2 ml-auto w-max border-[1px] border-red-800">
      <button x-show="!playing" x-on:click="playing = true">
          <Icon name="mdi:music-note" class="text-red-800 w-8 h-8"/>
      </button>
      <button x-show="playing" x-on:click="playing = false">
          <Icon name="mdi:music-note-off" class="text-red-800 w-8 h-8" />
      </button>
    </div>
  </div> 

  <script>

    var btn = document.getElementById('playPauseBtn');
    var btnaudio = document.getElementById('toaudio');
    var audio = document.getElementById('myAudio') as HTMLAudioElement;
    
    if(btnaudio) {
      btnaudio.addEventListener('click', function() {
      audio.play();
      });
      document.addEventListener("DOMContentLoaded", function() {
        if (btn && audio) {
            btn.addEventListener('click', function() {
                if (audio.paused) {
                    audio.play();
                } else {
                    audio.pause();
                }
            });
        } 
      });
    }
    
  
  </script>