---

---

<script>
//Countdown
const tanggalTujuan = new Date("Jan 5, 2030 15:37:25").getTime();

const hitungMundur = setInterval(function(){
    const sekarang = new Date().getTime();
    const selisih = tanggalTujuan - sekarang;

    const hari = Math.floor(selisih / (1000 * 60 * 60 * 24));
    const jam = Math.floor(selisih % (1000 * 60 * 60 * 24) / (1000 * 60 * 60));
    const menit = Math.floor(selisih % (1000 * 60 * 60) / (1000 * 60));
    const detik = Math.floor(selisih % (1000 * 60) / (1000));

    const timer = document.getElementById("timer").innerHTML = 
    '<div><div class="leading-8 font-josefin"> ' + hari + ' <br><span class="text-xl">Hari</span></div> </div> ' +
        '<div> <div class="leading-8 font-josefin"> ' + jam + ' <br><span class="text-xl">Hari</span></div> </div> ' +
        '<div> <div class="leading-8 font-josefin"> ' + menit + ' <br><span class="text-xl">Hari</span></div> </div> ' +
        '<div> <div class="leading-8 font-josefin"> ' + detik + ' <br><span class="text-xl">Hari</span></div> </div> ';
        if (selisih < 0) {
    clearInterval(hitungMundur);
    var timerElement = document.getElementById("timer");
    var newDiv = document.createElement("div");
    newDiv.innerHTML = '<div class="leading-8 text-white text-2xl capitalize font-josefin">event telah berakhir</div>';
    timerElement.innerHTML = ""; 
    timerElement.appendChild(newDiv);
}

});
</script>