---

---

<script>

const timer = document.getElementById("timer");
if(timer){
    const tanggalTujuan = new Date("Jan 5, 2030 15:37:25").getTime();

    const hitungMundur = setInterval(function(){


    const sekarang = new Date().getTime();
    const selisih = tanggalTujuan - sekarang;

    const hari = Math.floor(selisih / (1000 * 60 * 60 * 24));
    const jam = Math.floor(selisih % (1000 * 60 * 60 * 24) / (1000 * 60 * 60));
    const menit = Math.floor(selisih % (1000 * 60 * 60) / (1000 * 60));
    const detik = Math.floor(selisih % (1000 * 60) / (1000));

        timer.innerHTML = 
        '<div><div class="leading-8 font-josefin">' + hari + '<br><span class="text-xl">Hari</span></div></div>' +
        '<div><div class="leading-8 font-josefin">' + jam + '<br><span class="text-xl">Jam</span></div></div>' +
        '<div><div class="leading-8 font-josefin">' + menit + '<br><span class="text-xl">Menit</span></div></div>' +
        '<div><div class="leading-8 font-josefin">' + detik + '<br><span class="text-xl">Detik</span></div></div>';
            if (selisih < 0) {
            const end = document.createElement("div");
            end.innerHTML = '<div class="absolute leading-8 text-gray-800 text-2xl inset-x-0 capitalize font-josefin">event telah berakhir</div>';
            timer.innerHTML = "";
            timer.appendChild(end);
            }

    });
}
</script>