---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Primary from '../components/primary.astro';
import SEO from '../components/seo.astro';
import { ViewTransitions } from 'astro:transitions';
const { title, desc } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <SEO title={title} desc={desc} />
    <ViewTransitions />
    <style>
      /* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #DB2777 #EBEBEB;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #EBEBEB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #E3E3E3;
}

*::-webkit-scrollbar-track:active {
  background-color: #E3E3E3;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #DB2777;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #EC4899;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #BE185D;
}

    </style>
  </head>
  <body class="bg-gray-50">
    <Header />
    <Primary>
      <slot />
    </Primary>
    <Footer />
  </body>
</html>
