---
import Footer from '../components/footer.astro';
import Primary from '../components/primary.astro';
import SEO from '../components/seo.astro';
const { title, desc } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <SEO title={title} desc={desc} />
  </head>
  <body>
    <Primary>
      <slot />
    </Primary>
  </body>
</html>
